
1.16.5/src/main/resources/assets/yogmod/textures/block/Thumbs.db
1.16.5/src/main/resources/assets/yogmod/textures/item/Thumbs.db
1.16.5/src/main/resources/assets/yogmod/textures/entity/crate/Thumbs.db
1.16.5/src/main/resources/assets/yogmod/textures/entity/Thumbs.db
